
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
   background-color: #FAD7A0;
   text-align: center;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 1.5rem;
}

/**** NAVIGATEUR ****/
.nav{
   background-color: #FAD7A0;
   height: 11vh;
   width: 100%;
}

.nav ul{
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;  
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   background-color: #FAD7A0;
}

.nav ul li{
 list-style-type: none;
 padding: 10px 0;
 font-size: 22px;
}

.nav ul li a{
 text-decoration: none;
 color: #000;
}

.nav ul li a:hover{
color: #C0392B;
}

#menuToggle{
display: block;
position: relative;
top: 35px;
left: 50px;  
z-index: 1;  
-webkit-user-select: none;
user-select: none;
}

#menuToggle input{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;  
cursor: pointer;  
opacity: 0;
z-index: 2;  
-webkit-touch-callout: none;
}

#menuToggle .Toggle{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: #000;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle .Toggle:first-child{
transform-origin: 0% 0%;
}

#menuToggle .Toggle:nth-last-child(2){
transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .Toggle{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}


#menuToggle input:checked ~ .Toggle:nth-last-child(3){
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ .Toggle:nth-last-child(2){
transform: rotate(-45deg) translate(0, -1px);
}


#menuToggle input:checked ~ ul{
  transform: none;
}

.container_header_desktop{
  display: none;
}
/****LOGO****/

.logo{
  width: 15vh;
  border-radius: 50%;
  box-shadow: 5px 10px 10px;
  position: relative;
  top: 50px;
  margin-left: 10px; 
}

.flag{
  width: 40px;
  margin-top: 10px;
}

.container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #FAD7A0;
}
.container_flag{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.container_flag_Desktop{
  display: none;
}

/****1st BACKGROUND****/
.First_Background{
   background-image: url(https://freephotos.cc/storage/preview/path/kkwOahuwrVwcvcxk4FQs4cZS5jU7SKzxaEOcYcMq.jpeg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 84vh;   
}

.Main_title{
  padding-top: 35vh;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Montez', cursive;
  color: #C0392B;
  text-shadow: 2px 5px 5px #FFF;
}


/****BODY****/

h2{
  color: #C0392B;
  font-size: 2.5rem;
  font-family: 'Montez', cursive;
}

h3{
  color:white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#BarDescription{
  display: flex;
  width: 100%;
  justify-content: center;
}


.TextWhiteBackground{
  background-color: white;
  width: 90%;
  justify-content: center;
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Bridge{
  background-image: url(https://cdn.pixabay.com/photo/2016/01/18/15/23/bordeaux-1146721_960_720.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover; 
  background-position: 55% 66%;
  height: 60vh;
  padding-top:40vh;
}


.Cocktail{
  background-image: url(https://cdn.pixabay.com/photo/2018/03/06/07/01/drink-3202709_960_720.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 55% 132%;
  height: 60vh;
  padding-top:30vh;
}

.BeachImage{
  background-image: url(https://cdn.pixabay.com/photo/2016/12/05/16/28/dominican-republic-1884286_960_720.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 55% 100%;
  height: 60vh;
  padding-top:30vh;
}

.TextWhiteBackground a{
  color: #C0392B;
}

section p{
  text-align: justify;
  padding: 2%;
}

/****ARROW RETURN****/
.top_return{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.arrow{
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
}

/****MAP****/

.container-map{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.map { 
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.google{
  display: block;
  width: 75%;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
}

/****FORM****/

input{
  display: block;
  width: 90%;
  height: 25px;
  margin-bottom: 20px;

}

input[type="submit"]
{
  margin-top: 5px;
  margin-bottom: 5px; 
}


.button{
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  height: 40px;
  
  }

textarea{
  display: block;
  width: 100%;
  height: 5em;
}
form{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto; 
  padding: 25px;
  border: 1px solid #CCC;
  width: 100%;
}
.contact{
  background-color: lightgrey;
}


/****FOOTER****/

footer{
  padding-top: 2%;
  padding-bottom: 2%;
  background: black; 
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
}

footer a{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  text-decoration: none; color: white;
}
footer a:hover{
  text-decoration: underline; 
}
footer a img{
  height: 40px;
  width: 40px;
  background-color: #CCC
}

.link1{
  display: flex;
  justify-content: center;
}
.sn{
  margin: 10px;
}

/****Media****/

@media only screen and (min-width:961px){
  /****Benj****/
  
  /****BURGER****/

  .container_header{
    display: none;
  }

  .container_header_desktop{
    display: block;
  }

  .nav_head{
    width: 100vw;
    position: fixed;
    top:0;
    background-color: #FAD7A0;
    box-shadow: 10px 5px 10px;
  }

  .nav_head ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_head ul li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2rem;
    flex: 1;
  }

  .nav_head ul li a{
    text-decoration: none;
    color: #000; 
  }

  .nav_head ul li a:hover{
    color:#C0392B;
    font-size: 2.3rem;
  }

  .logo_desktop{
    width: 7vw;
    border-radius: 50%;
    flex: 2;
    margin-top: 10px;
    box-shadow: 5px 10px 10px;
  }

  /**** TITRE PAGE ****/

  .Main_title{
    font-size: 5rem;
    padding-top: 50vh;
  }

  .First_Background{
    height: 100vh;
  }

  .container_flag_Desktop{
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: absolute;
    top: 10vw;
    right: 2vw;;
    z-index: inherit; 
  }
  /****ARROW****/
  .arrow{
    height: 50px;
  } 

  /****Corinne****/

  /****Richard****/

}

/****Landscape****/

@media only screen and (orientation: Landscape) and (max-device-width: 961px){
  .container_header{
    height: 25vh;
  }

  #menuToggle{
    top: 15px;
    }

  .logo{
    width: 38vh;
  }
}